<!DOCTYPE html>
   <html lang="en">
   <head>
      <title>Edicion de productos</title>
      <%-include('../partials/head')%>
  </head>

<body>
  
      <%-include('../partials/header')%>
 

   <nav>
      <a href="/productos/"> Volver</a>
   </nav>
   <form action="/productos/actualizar?m=PUT" method="post" enctype="multipart/form-data">
      <input type="hidden" name="sku" value="<%= product.sku %>">

      <fieldset>
         <legend>Bebida</legend>
         <select name="bebida" value="bebida" id="bebida">
            <option value="Cerveza">Cerveza</option>
            <option value="Vino">Vino</option>
            <option value="Licor">Licor</option>
            <option value="Fernet">Fernet</option>
            <option value="Jagermeister">Jagermeister</option>
          </select>
      </fieldset>
      <fieldset>
        <legend>Marca</legend>
        <select name="marca" id="marca" value=>
          <optgroup label="Cervezas">
            <option value="Heineken">Heineken</option>
            <option value="Andes">Andes</option>
            <option value="Imperial">Imperial</option>
          </optgroup>
          <optgroup label="Vinos">
            <option value="Cafayate">Cafayate</option>
            <option value="Calia">Calia</option>
            <option value="Trumpeter">Trumpeter</option>
          </optgroup>
          <optgroup label="Licores">
              <option value="Baileys">Baileys</option>
              <option value="Bols">Bols</option>
            </optgroup>
            <optgroup label="Nada">
               <option value=""></option>
             </optgroup>
        </select>
      </fieldset>
      <fieldset>
         <legend>Descripción del producto</legend>
         <input type="text" name="description" id="description" value="<%= product.description %>">
      </fieldset>
      <fieldset>
         <legend>Contenido (ml)</legend>
         <input type="text" name="content" id="content" value="<%= product.content %>">
      </fieldset>
      <fieldset>
         <legend>Unidades</legend>
         <input type="text" name="units" id="units" value="<%= product.units %>">
      </fieldset>
     <fieldset>
      <legend>Descuento (%)</legend>
      <select name="sale" value="sale" id="sale" value="<%= product.sale %>">
         <option value= 0>0</option>
         <option value= 25>25%</option>
         <option value= 50>50%</option>
         <option value= 75>75%</option>
       </select>
   </fieldset>
   <fieldset>
    <legend>Precio ($)</legend>
    <input type="text" name="price" id="price" value="<%= product.price %>">
 </fieldset>
      <fieldset>
         <legend>A domicilio</legend>
         <input type="radio" name="homeservice" id="home-service-yes" value="Sí" <%=product.homeservice=='Sí'
         ? "checked" : "" %>>
         <label for="homeservice">Sí</label>
         <input type="radio" name="homeservice" id="home-service-no" value="No" <%=product.homeservice=='No'
         ? "checked" : "" %>>
         <label for="homeservice">No</label>
      </fieldset>
      <fieldset>
        <legend>Imagen</legend>
        <input type="file" name="image" id="image">
        <label for="image">Subir imagen</label>
     </fieldset>

      <button type="submit"> Guardar</button>
      <button type="reset">Cancelar</button>
   </form>

   
      <%-include('../partials/footer')%>

   
</body>

</html>