<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="img/favicon.ico"/> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

    <%-include('../partials/header')%>

    <form action="/login" method="POST" class="formulario">
   

      <div class="control-formulario">
        <label class="control-formulario-titulo">Bienvenido a Deliberri!</label>
        <input type="email" name="email" class="control" placeholder="Direccion de Correo Electronico" value="<%= locals.oldData ? oldData.email:'' %>" required>
        <% if (locals.errors && errors.eMail) { %>
          <span style="color: red"><%= errors.eMail.msg %></span>
        <%} %>
    </div>
    
    <div class="control-formulario">
        <input type="password" name="password" placeholder="Contraseña" class="control" value="<%= locals.oldData ? oldData.password:'' %>" required>
        <% if (locals.errors && errors.password) { %>
          <span style="color: red"><%= errors.password.msg %></span>
        <%} %>
    </div>

 
 

  <div id="checkboxalignment">
    <div id="checkboxes">
        <div id="agree"><input type="checkbox" name="agree"><label class="form-check">Recordar credenciales de Login</label></div>
    </div>
</div>
  
    <button type="submit" class="boton-formulario" name="ingresar">Ingresar</button>



   
    <div class="control-formulario">
        <a href="/register" class="otras-opciones">Registrate!</a>
    </div>

<%-include('../partials/footer')%>

</body>
</html>
