<!DOCTYPE html>
<html lang="en">
<head>
  <title>DeliBerri</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="icon" type="image/x-icon" href="img/favicon.ico"/> 
</head>
<body>

    <%-include('../partials/header')%>

    <form action='/register' class="control-formulario" method="POST" enctype="multipart/form-data">

               <div class="errores">
                  <ul></ul>
               </div>

        <div class="control-formulario">
            <label>Datos de Usuario</label>
            
            <input type="text" name="name" id='name' class="control" placeholder="Nombre/s" value="<%= locals.oldData ? oldData.name:'' %>" >
        </div>
    
        <div class="control-formulario">
            <input type="text" name="lastname" id='lastname' class="control" placeholder="Apellido/s" value="<%= locals.oldData ? oldData.lastname:''  %>">
        </div>
    
        <div class="control-formulario">
            <input type="text" name="user" id='user' class="control" placeholder="Nombre de usuario"  value="<%= locals.oldData ? oldData.user:''  %>">
        </div>

        <div class="control-formulario">
            <input type="email" name="email" id='email' class="control" placeholder="Email"  value="<%= locals.oldData ? oldData.email:''  %>">
        </div>
    
    
        <div class="control-formulario">
            <input type="password" name="password" id="password" placeholder="Contraseña" class="control" id='password' value="<%= locals.oldData ? oldData.passsword:'' %>" >
        </div>

         

        <div class="control-formulario">
            <label>Fecha de nacimiento</label>
            <input type="date" name="date" id="date" class="control" value="<%= locals.oldData ? oldData.date:''  %>" >
        </div>
    
        <div class="control-formulario">
            <label>Lugar de Nacimiento</label>
        
    
        <div class="control-formulario">
        <select name="nationality" value="nationality" id="nationality" class="control"  placeholder="nationality" value="<%= locals.oldData ? oldData.nationality:'' %>" >
            <optgroup label="Pais">
               <option value="Argentina">Argentina</option>
              <option value="Colombia">Colombia</option>
              <option value="Paraguay">Paraguay</option>
              <option value="Brazil">Brazil</option>
              <option value="Venezuela">Venezuela</option>
              <option value="Chile">Chile</option>
              <option value="Perú">Perú</option>
              <option value="Bolivia">Bolivia</option>
              <option value="Uruguay">Uruguay</option>
              <option value="Otros">Otros</option>
           </optgroup></select>
    </div>
    </div>
     
    
   <div class="control-formulario">
        
            <label>Categoría Preferida</label>
         
        <select  id="test">
            <option value="1">Licores </option>
            <option value="2"> Cervezas</option>
            <option value="3">Vinos</option>
            <option value="4">Bebidas No Alcoholicas</option>
            <option value="5">Otros</option>
            <option value="6">No tengo preferencia</option>
          </select>
     </div>
        
        <!-- <div class="control-formulario">
            <label class="control">Foto de perfil:</label>
            <input name="avatar" type="file" multiple="multiple" class="control" accept= ".jpg, .jpeg .png .gif" id="avatar">
            <% if (locals.errors && errors.avatar) { %>
              <span style="color: red"><%= errors.avatar.msg %></span>
            <%} %>
        </div> -->
        
       <div class="control-formulario">
               <label for="name">Avatar del Usuario </label>
               <p><input  type="file" name="avatar" id="avatar" value="<%= locals.oldData ? oldData.avatar:''  %>"></p>
            </div>
            </div>
    
        <button type="submit" class="boton-formulario-register">Guardar</button>
        <button type="reset" class="boton-formulario-register">Borrar</button>
    
    
    
        <div class="control-formulario">
            <a href="/login" class="otras-opciones">¿Ya tienes una cuenta? Ingresá!</a>
        </div>
    
    </form>

<%-include('../partials/footer')%>

<script src='/js/usersRegisterValidation.js'></script>

</body>



</html>
