<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>DeliBerri || Perfil de <%= locals.userLogged.user_alias %></title>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico"/> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>

     <!-- Navbar -->
     <%-include('../partials/header')%>
     <% if (locals.registerSuccessful) { %>
        <script>
          alert('Registro exitoso')
        </script>
      <%} %>
<section class="user-profile">
 <div class="avatar-profile">
  <img class="profile-avatar" src="/img/<%= locals.userLogged.avatar || 'default-avatar.png' %>"  alt="avatar" width="100%" height="100%">    
</div>
  <h2 class="h2-prof">Bienvenido <div class="user-text"><%= locals.userLogged.user %></div></h2>

<div class="button-container">

<form class="button-form" action="/" method="get">

    <button class="button">Home</button>
   
</form>

<form class="button-form" action="/profileToEdit/<%=locals.userLogged.id%>?_method=PUT" method="get">
   
    <button class="button" href="/profileToEdit">Editar información</button>

</form>


<form class="button-form" action="/users/logout" method="get">

    <button class="button">Cerrar sesión</button>

</form>
</div>
</section>

    <!-- Footer -->

    <%-include('../partials/footer')%>

</body>
</html>