<%-include('../partials/head')%>

<body>

   <%-include('../partials/header')%>

    <form class="container-form" action="/profileToEdit/<%=locals.userLogged.id %>?_method=POST" method="POST" enctype="multipart/form-data">

        <h2 class="h2-prof-edit">Datos a modificar</h2>
        <label>Nombre</label>
        <input class="input-form" type="text" name="name" value="<%= locals.userLogged.name %>" required>
        <label>Apellido</label>
        <input class="input-form" type="text" name="lastname" value="<%= locals.userLogged.lastname %>" required>
        <label>Usuario</label>
        <input class="input-form" type="text" name="user" value="<%= locals.userLogged.user %>" required>
        <label>E-Mail</label>
        <input class="input-form" type="email" name="eMail" value="<%= locals.userLogged.email %>" disabled selected required>
        <label>Avatar</label>
        <div class="divAvatar">
            <input name="image" id="prod-image" type="file" multiple="multiple" class="addImagesProfileToEdit" accept= ".jpg, .jpeg .png" >
            <p class="edit-profile-warning">*Si no se selecciona un avatar nuevo, se cargará uno por defecto.</p>
        </div>
        
        <input class="button-for" id="submit" type="submit" value="Guardar cambios">
    </form>

<%-include('../partials/footer')%>

   <script src='/js/usersRegisterValidation.js'></script>

   </body>



   </html>

