<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil de usuario</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="icon" type="image/x-icon" href="img/favicon.ico"/> 
</head>
<body>  
    <!-- Navbar -->
    
    <%-include('../partials/header')%>
    
    <form class="container-form" action="/users/profileToEdit/<%=locals.userLogged.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h2 class="h2-prof-edit">Datos a modificar</h2>
        <label>Nombre</label>
        <input class="input-form" type="text" name="name" value="<%= locals.userLogged.name %>" required>
        <label>Apellido</label>
        <input class="input-form" type="text" name="lastName" value="<%= locals.userLogged.lastname %>" required>
        <label>Usuario</label>
        <input class="input-form" type="text" name="userAlias" value="<%= locals.userLogged.user %>" required>
        <label>E-Mail</label>
        <input class="input-form" type="email" name="eMail" value="<%= locals.userLogged.email %>" disabled selected required>
        <label>Avatar</label>
        <div class="divAvatar">
            <input name="image" id="prod-image" type="file" multiple="multiple" class="addImagesProfileToEdit" accept= ".jpg, .jpeg .png" >
            <p class="edit-profile-warning">*Si no se selecciona un avatar nuevo, se cargará uno por defecto.</p>
        </div>
        
        <input class="button-for" id="submit" type="submit" value="Guardar cambios">
    </form>

    <!-- Footer --> 
    <%-include('../partials/footer')%>
     
</body>
</html>

